#container {
    max-width: 1280px;
    margin: auto;
    font-family: 'Comic Neue', cursive;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headermaincomponents {
    width: 33.33%;
    display: flex;
    padding: 15px;
}

#headercenter {
    justify-content: center;
}

#headerrightside {
    justify-content: right;
}

.headerinner {
    padding: 10px;
}

.headerinner a {
    text-decoration: none;
    color: black;
}

.headerinner a:hover {
    text-decoration: underline;
}

#title {
    text-align: center;
}

#maincontent {
    display: flex;
}

.description {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#descriptionimage {
    padding: 75px;
}

#descriptiontext {
    display: flex;
    text-align: left;
    font-size: 20px;
    padding: 25px;
}

.description img {
    width: 100%;
    box-shadow: -4px 4px 4px #7a7a7a;
}

#footer {
    justify-content: center;
}

#socialmenu {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sociallinks {
    padding: 15px;
}

.sociallinks .fadeineffect {
    position: relative;
    display: inline-block;
}

.sociallinks .hoverimage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sociallinks:hover .hoverimage {
    opacity: 1;
}

.sociallinks:hover img:not(.hoverimage) {
    opacity: 0.5;
}

#copyright {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 792px) {
    #header {
        display: flex;
    }

    .headermaincomponents {
        width: 33.33%;
        display: block;
        padding: 15px;
        justify-content: center;
    }

    .headerinner {
        text-align: center;
    }

    #maincontent {
        display: block;
        text-align: center;
    }

    .description {
        display: block;
        width: 100%;
    }

    #descriptionimage {
        padding: 10px;
    }

    #descriptiontext {
        text-align: left;
        font-size: 20px;
        padding: 20px;
    }

}