#container {
    max-width: 1280px;
    margin: auto;
    font-family: 'Comic Neue', cursive;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headermaincomponents {
    width: 33.33%;
    display: flex;
    padding: 15px;
}

#headercenter {
    justify-content: center;
}

#headerrightside {
    justify-content: right;
}

.headerinner {
    padding: 10px;
}

.headerinner a {
    text-decoration: none;
}

.headerinner a:hover {
    text-decoration: underline;
}

#maincontent {
    display: flex;
}

.contentcolumn {
    width: 33.33%;
    padding: 25px;
}

.imageanddescription {
    width: 100%;
}

.text {
    padding: 10px 0px 25px 0px;
}

#title {
    text-align: center;
}

#footer {
    justify-content: center;
}

#socialmenu {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sociallinks {
    padding: 15px;
}

.sociallinks .fadeineffect {
    position: relative;
    display: inline-block;
}

.sociallinks .hoverimage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sociallinks:hover .hoverimage {
    opacity: 1;
}

.sociallinks:hover img:not(.hoverimage) {
    opacity: 0.5;
}

#copyright {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 792px) {
    #header {
        display: flex;
    }

    .headermaincomponents {
        width: 33.33%;
        display: block;
        padding: 15px;
        justify-content: center;
    }

    .headerinner {
        text-align: center;
    }

    .container {
        max-width: 100%;
    }

    #maincontent {
        display: block;
    }

    .contentcolumn {
        width: auto;
        padding: 0px 25px;
    }

}